// .header {
//     display: flex;
//     justify-content: space-between;
//     background-color: red;
//     align-items: center;
//     height: 60px;
//     padding: 0 20px;

//     &__logo {
//         h5 {
//             color: white;
//             font-weight: 300;
//         }
//     }

//     .button {
//         background-color: white;

//     }


// }

/* header.scss */

.header {
    background: linear-gradient(to right, #3a1c71, #d76d77);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .header__logo {
      h5 {
        margin-left: 53px;
        font-size: 24px;
      }
    }
  
    .header__buttons {
      .button {
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background: #333;
  
        &:hover {
          background: #555;
        }
      }
    }
  }
  