.list-header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #3a1c71, #d76d77);
    color: #fff;
    padding: 5px 0;
    border-radius: 5px;
    margin-left: 10rem;
  
    li {
      flex: 1;
      text-align: center;
  
      h5 {
        margin: 0;
        font-size: 16px;
        width: 218px; /* Set your desired width */
        overflow: auto; /* Hide overflowing text */
        padding: 10px; /* Optional: Add padding for spacing */
        white-space: auto; /* Prevent text from wrapping */
      }
    }
  }
  
  .list-item {   
  
    li {
      flex: 1;
      text-align: center;
  
      h5 {
        margin: 0;
        font-size: 16px;
      }
    }
  }
  